<app-nav></app-nav>
<div class="text-over-image">
    <h1 class="title">BusCard</h1>
    <h2 class="subtitle">The best way to find bus for your next trip
        <br>
        With us, a real-time bus ticket booking platform, you can book your bus tickets easily from home, office or anywhere else
        <br>
        Browse as a guest to see what we offer!
        <br>
        Sign up to get access to all features!
    </h2>
</div>

<app-background-picture [src]="'assets/back1.jpg'"></app-background-picture>