<mat-sidenav-container class="sidenav-container" [hasBackdrop]="true">
    <mat-sidenav #drawer class="sidenav" fixedInViewport [mode]="'side'">
        <mat-toolbar>Menu</mat-toolbar>
        <div class="menu">
            <div class="menu-items">
                <mat-nav-list>
                    <a mat-list-item routerLink="/mainPage/listBusLines">Main Page</a>
                    <a mat-list-item routerLink="/mainPage/listCompanies">Companies</a>
                </mat-nav-list>
            </div>
            <div class="profile-actions">
                <mat-nav-list>
                    <a mat-list-item (click)="openProfile()">Profile</a>
                    <a mat-list-item (click)="signOut()">Sign out</a>
                </mat-nav-list>
            </div>
        </div>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <div class="left-group">
                <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
                    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
                </button>
                <span style="cursor: pointer" (click)="openMainPage()">
                    BusCard
                </span>
            </div>
            <div class="right-group">
                <button mat-raised-button class="customButton" *ngIf="userType == 'admin'" (click)="addNewCompany()">
                    + Add new company
                </button>
                <button mat-raised-button class="customButton" *ngIf="userType == 'company'" (click)="addNewBusLineTime()">
                    + Add new bus line time
                </button>
                <button mat-raised-button class="customButton" *ngIf="userType == 'company'" (click)="addNewBusLine()">
                    + Add new bus line
                </button>
                <button type="button" aria-label="Navigate to profile" mat-icon-button [matMenuTriggerFor]="profile">
                    <mat-icon aria-label="Profile icon">account_circle</mat-icon>
                </button>
                <mat-menu #profile="matMenu">
                    <button mat-menu-item class="customButton" (click)="openProfile()">Profile</button>
                    <button mat-menu-item class="customButton" (click)="signOut()">Sign out</button>
                </mat-menu>
            </div>
        </mat-toolbar>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>