<mat-card class="card">
    <mat-card-header>
        <div mat-card-avatar class="icon"></div>
        <mat-card-title class="cursor-pointer">
            {{ ticket!.startTownName }} -> {{ ticket!.endTownName }}
        </mat-card-title>
        <mat-card-subtitle>
            Bus Line id: {{ ticket!.busLineId }}
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <mat-divider></mat-divider>
        <div class="row">
            <span class="label">Departure date:</span>
            <span class="text"> {{ ticket!.departureDate }}</span>
        </div>
        <div class="row">
            <span class="label">Departure time:</span>
            <span class="text"> {{ ticket!.departureTime }}</span>
        </div>
        <div class="row">
            <span class="label">Distance:</span>
            <span class="text">{{ ticket!.distance }} km</span>
        </div>
        <div class="row">
            <span class="label">Duration:</span>
            <span class="text">{{ _formatDuration(ticket!.durationMinutes) }}</span>
        </div>
        <div class="row">
            <span class="label">Price:</span>
            <span class="text">{{ ticket!.price }} RSD</span>
        </div>
        <div class="row">
            <span class="label">Return ticket:</span>
            <span class="text">{{ ticket!.returnTicket }}</span>
        </div>
        <mat-divider></mat-divider>
    </mat-card-content>
    <mat-card-actions>
        <section class="section2">
            <button mat-icon-button color="basic" (click)="rateCompany()">
                <mat-icon>thumb_up_alt</mat-icon>
            </button>
        </section>
    </mat-card-actions>
</mat-card>